    <!-- ******HEADER****** --> 
    <header id="header" class="header" style="padding:0px;">  
        <div class="container">            
            <div class="logo pull-left" style="padding:0px;">
                <a class="scrollto" href="#promo">
                    <img src="{{ site.logo_url }}" alt="{{ site.title }}" style="max-height:70px;">
                </a>
            </div><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active nav-item sr-only"><a class="scrollto" href="#promo">Home</a></li>
                        <li class="nav-item"><a class="scrollto" href="#about">About</a></li>
                        <li class="nav-item"><a class="scrollto" href="#features">Features</a></li>
                        <li class="nav-item"><a class="scrollto" href="#examples">Examples</a></li>
                        <li class="nav-item"><a class="scrollto" href="#documentation">Documentation</a></li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
        <span id="forkongithub"></span>
        <span id="forkongithubtext"><a class="nav-item rotateText" href="http://github.com/digikrit/mastermetadata">Github</a></span>
    </header><!--//header-->
